[user]
	name = Denis Kirichenko
	email = d.kirichenko@fun-box.ru
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[diff]
    renamelimit = 0
[merge]
    summary = true
    tool = vimdiff
[alias]
    st = status
    ci = commit
    br = branch -v
    co = checkout
    lg = log --pretty=format:\"%h %Cblue%ar %Cgreen%an%Creset: %s %Cred%d\"
    lf = log --name-status --pretty=format:\"%h %Cblue%ar %Cgreen%an%Creset: %s %Cred%d\"
    ll = log -10 --pretty=format:\"%h %Cblue%ar %Cgreen%an%Creset: %s %Cred%d\"
    gr = log --graph --pretty=format:\"%Cred%h %Cblue%ar%Creset %Cgreen%an%Creset %s %Cred%d\"
    sgr = log --graph --simplify-by-decoration --pretty=format:\"%Cred%h %Cblue%ar%Creset %Cgreen%an%Creset %s %Cred%d\"
    where = branch -av --contains
    uncommit = reset HEAD^
    create-pull-request = !sh -c 'stash pull-request $0'
    branchdate = !git for-each-ref --sort='-authordate' --format='%(refname)%09%(authordate)' refs/heads | sed -e 's-refs/heads/--'
    pushc = push origin HEAD
[core]
	excludesfile = /home/den/.gitignore_global
    pager = less -FRSX
